name: Playwright Tests + Allure Report

on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]
     # ⏰ Scheduler: 23:30 WIB (16:30 UTC)
  schedule:
    - cron: '30 16 * * *'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 60

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: lts/*

      - name: Install dependencies
        run: npm ci

      - name: Install Playwright browsers
        run: npx playwright install --with-deps

      - name: Run Playwright tests
        run: npx playwright test
        
      - name: Clean old Allure report
        if: always()
        run: rm -rf allure-report
        
      - name: Install Allure CLI & Generate Report
        if: always()
        run: |
          # 1️⃣ Install Allure CLI resmi
          ALLURE_VERSION=2.27.0
          wget -q https://github.com/allure-framework/allure2/releases/download/${ALLURE_VERSION}/allure-${ALLURE_VERSION}.zip
          unzip -q -o allure-${ALLURE_VERSION}.zip -d $HOME/.allure
          chmod +x $HOME/.allure/allure-${ALLURE_VERSION}/bin/allure

          # 2️⃣ Tambahkan ke PATH di session ini
          export PATH=$HOME/.allure/allure-${ALLURE_VERSION}/bin:$PATH

          # 3️⃣ Generate report
          allure generate allure-results --clean -o allure-report

      - name: Deploy Allure Report to GitHub Pages
        if: always()
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./allure-report
          force_orphan: true
          allow_empty_commit: true
          commit_message: "Update Allure report $(date +'%Y-%m-%d %H:%M:%S')"

      - name: Upload Playwright artifact
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
